@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-headings: "Plus Jakarta Sans", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

:root {
  --primary-color: #1A202C;

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, a {
  @apply active:scale-[95%];
}

#product-details-container::-webkit-scrollbar {
  @apply hidden scroll-smooth;
}

.ease-transition {
  @apply transition-all duration-300 ease-out;
}

.sidebar-link-active {
  @apply transition-all duration-300 ease-out py-2 border-l-[16px] border-white rounded-r-xl pl-8 bg-gray-600
}
